@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
.card .image{
    height: 150px;
    width: 150px;
    padding: 4px;
    background: #4070f4;
    border-radius: 50%;
}
.container{
    display: flex;
    gap: 12px;
    max-width: 400px;
    width: 100%;
    background: #4070f4;
    border-radius: 12px;
    padding: 30px;
    scroll-snap-type: mandatory;
    overflow-x:scroll;
    scroll-padding: 30px;
    box-shadow: 0 15px 25px rgba(0,0,0,0.1);
}
.container .card{
    flex: 0 0 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    background: #fff;
    scroll-snap-align: start;
    box-shadow: 0 15px 25px rgba(0,0,0.1);
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e3f2fd;

}
::-webkit-scrollbar{
    background: #f1f1f1;
    border-radius: 25px;


}
::-webkit-scrollbar-thumb{
    background: #6e93f7;
    border-radius: 25px;
}
::-webkit-scrollbar-thumb:hover{
    background: #4070f4;
}
.image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;

}
.card h2{
    margin-top: 25px;
    color: #333;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}